# Style EPIKODI : base LLVM, 4 espaces, 100 colonnes, accolades K&R.
BasedOnStyle: LLVM
Language: Cpp
Standard: c++17
IndentWidth: 4
ColumnLimit: 100
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Attach
PointerAlignment: Left
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"'          # en-tetes du projet
    Priority: 1
  - Regex: '^<Q'         # Qt
    Priority: 2
  - Regex: '^<'          # standard / systeme
    Priority: 3
